* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a,li {
    text-decoration: none;
    list-style: none;
}

:root {
    --monts: "Montserrat", sans-serif;
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --prompt: "Prompt", sans-serif;
}

body {
    font-family: var(--pops);
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}  

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}